<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% for game in games.items %}
            {{game.title}}
            {{game.rating}}
            {{game.description}}
            {{game.credibility}}
            {{game.reviewAI}}
            <a href="{{game.link}}" target="_blank">CS_Go Game</a>
            <a href="{{ url_for('evaluation.index') }}"><img src="../../static/game_images/{{game.image}}" alt="CS_GO"></a>
        {% endfor %}
        {% for page_num in games.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if games.page == page_num %}
                    <a style="color: red;" href="{{ url_for('main.browse', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('main.browse', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
    </body>
</html>