{% extends "foodLayout.html" %}


{% block content %}
<main>
    <!--================================================================================-->
    <!--           restaurant name, preview image / carousel and uReview rating              -->
    <!--================================================================================-->
    <section>
        <!-- ========== -->
        <!--  Carousel  -->
        <!-- ========== -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style=" width:100%; height: 500px !important;">
                <div class="carousel-item active" style="color: #c7d5e0;">
                    <img class="d-block w-100" src="../../static/img/item_images/{{carousell[0].image}}"
                        alt="First slide">
                </div>
                <div class="carousel-item" style="color: #c7d5e0;">
                    <img class="d-block w-100" src="../../static/img/item_images/{{carousell[1].image}}"
                        alt="Second slide">
                </div>
                <div class="carousel-item" style="color: #c7d5e0;">
                    <img class="d-block w-100" src="../../static/img/item_images/{{carousell[2].image}}"
                        alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
</main>
<br/>
<br/>
<div id="map"></div>
<div id="menu">
    <input id="light-v10" type="button" value="light" />
    <input id="dark-v10" type="button" value="dark" />
</div>

<script src="../../static/map.js"></script>
{% endblock content%}