<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% if title %}
    <title>uReview - {{title}}</title>
    {% else %}
    <title>uReview</title>
    {% endif %}

    <!--Boot strap js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!--Style sheets-->
    <!--------------------------------------------------------------------------------------------------------------------------------->
    <!--Boot strap style sheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Font Awesome for icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--styles.css-->
    <link rel="stylesheet" type="text/css" href="../../static/styles.css" />

    <!--Montserrat Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Roboto Font-->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--Favicon-->
    <link rel="icon" href="../../static/img/icons/favIcon.png" type="image/gif" sizes="16x16">
    <!--JavaScript-->
    <script src="../../static/script.js"></script>

    <!--Map-->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <style>
        #map {
            width: 80%;
            height: 80%;
        }

        #menu {
            position: absolute;
            background: #fff;
            padding: 10px;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>
    <header id="nav">
        <!--================================================================================-->
        <!--                                    Navbar                                      -->
        <!--================================================================================-->
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
            <a class="navbar-brand" href="{{url_for('main.index')}}">uReview</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('food.index')}}">Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.gameIndex')}}">Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.checkreview')}}">Verify</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('forum.index')}}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.contactUs')}}">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="search the database" aria-label="Search" />
                        <button class="btn btn-outline-success fa fa-search" id="bootstap-override" type="submit"></button>
                    </form>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="../../static/img/icons/defaultProfile.png" class="rounded-circle z-depth-0"
                                 alt="avatar image" style="width:30px">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                             aria-labelledby="navbarDropdownMenuLink-55">
                             {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{url_for('main.profile', index = current_user.id)}}">Profile</a>
                            <a class="dropdown-item" href="{{url_for('main.logout')}}">Logout</a>
                             {% else %}
                            <a class="dropdown-item" href="{{url_for('main.login')}}">Login</a>
                            <a class="dropdown-item" href="{{ url_for('main.register')}}">Register</a>
                             {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}

    {% endblock content %}
</body>

</html>