{% extends "layout.html" %}

{% block content %}
<main>
        <div class="flex-container">
            <div id="title2">
                <img id="lock" src="media/lock.png" alt="LockLogo" />
                <h2>Login</h2>
                <p>Login to your account</p>
            </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="logincontainer">
            <form method="POST" action="">
                {{ form.csrf_token }}
                <div class="row">
                    {{form.email.label(class="col-25")}}
                    {{form.email(class="col-75")}}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{errror}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{form.password.label(class="col-25")}}
                    {{form.password(class="col-75")}}
                    <div class="form-group">
                        {{form.submit(class="btn btn-outline-info")}}
                    </div>
                </div>
            </form>
        </div>
        </div>
    </main>
{% endblock content%}


<!-- 
<html>
    <head></head>
    <body>
        
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                {{form.email.label}}
                {{form.email}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{errror}}</span>
                    {% endfor %}
                {% endif %}
                {{form.password.label}}
                {{form.password}}
            </fieldset>
            <button>
                {{form.submit}}
            </button>
        </form>
    </body>
</html> -->

