{% extends "layout.html" %}

{% block content %}
<main>
        <div class="flex-container">
            <div id="title2">
                <img id="lock" src="media/lock.png" alt="LockLogo" />
                <h2>Login</h2>
                <p>Login to your account</p>
            </div>
        <div id="logincontainer">
            <form action="action_page.php" method="post">
                <div class="row">
                    <div class="col-25">
                        <label for="login"><b>Username: </b></label>
                    </div>
                    <div class="col-75">
                        <input type="text" placeholder="Type in your email" name="uname" required />
                        <p>
                            <a href="#" onclick="alert('Register link work!')">Create an account</a>
                        </p>
                    </div>
                    <div class="col-25">
                        <label for="psw"><b>Password:  </b></label>
                    </div>
                    <div class="col-75">
                        <input id="subject" type="password" placeholder="Enter Password" name="psword" required>
                        <p>
                            <a href="#" onclick="alert('Forget account link work!')">Forget account?</a>
                            <br />
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Remember me
                            </label>
                        </p>
                    </div>
                    <div id="logindiv">
                        <button id="sendlogin" type="submit" class="btn btn-info" onclick="alert('Login button work!')">Login</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </main>
{% endblock content%}

<html>
    <head></head>
    <body>
        <header>Login</header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                {{form.email.label}}
                {{form.email}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{errror}}</span>
                    {% endfor %}
                {% endif %}
                {{form.password.label}}
                {{form.password}}
            </fieldset>
            <button>
                {{form.submit}}
            </button>
        </form>
    </body>
</html>


