<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>uReview login </title>
        <meta name="author" content="Zechariah Wong" />
        <meta name="description" content="P2 project banning accounts" />
        <title>User Account</title>
        <!--Montserrat Font-->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <!--Boot strap js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--Style sheets-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        <!--Boot strap style sheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--Font Awesome for icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--styles.css-->
        <link rel="stylesheet" type="text/css" href="../../static/userAccountStyles.css" />
        <!--Favicon-->
        <link rel="icon" href="media/favIcon.png" type="image/gif" sizes="16x16">
    </head>
    <body>
        <header>
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
                <a class="navbar-brand" href="{{url_for('main.index')}}">uReview</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.foodIndex')}}">Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.gameIndex')}}">Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.checkreview')}}">Verify</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('forum.index')}}">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.contactUs')}}">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="search the database" aria-label="Search" />
                            <button class="btn btn-outline-success fa fa-search" id="bootstap-override" type="submit"></button>
                        </form>
                        <li class="nav-item avatar dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                <img src="../../static/img/icons/defaultProfile.png" class="rounded-circle z-depth-0"
                                    alt="avatar image" style="width:30px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                                aria-labelledby="navbarDropdownMenuLink-55">
                                {% if current_user.is_authenticated %}
                                <a class="dropdown-item" href="{{url_for('main.profile')}}">Profile</a>
                                <a class="dropdown-item" href="{{url_for('main.logout')}}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{{url_for('main.login')}}">Login</a>
                                <a class="dropdown-item" href="{{ url_for('main.register')}}">Register</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    
        <main>
           
            <div class="container">
                <img src="../../static/img/icons/defaultProfile.png" />

                <div class="container">
                    <div class="row bg-dark header">
                        <div class="col">
                            User ID
                        </div>
                        <div class="col">
                            Username
                        </div>
                        <div class="col">
                            Email
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" id="accountNo">
                            {{user.id}}
                        </div>
                        <div class="col" id="userName">
                            {{user.username}}
                        </div>
                        <div class="col" id="email">
                            {{user.email}}
                        </div>
                    </div>

                </div>

                {% if user.role == "Admin" %}
                {% if user.ban == False %}
                <!--Note class="disabled" and data-toggle="popover" are for buttons that CANNOT be clicked-->
                <button type="button" class="btn btn-primary ban" data-toggle="modal" data-target="#banModal">
                    Ban
                </button>
                {% else %}
                <button type="button" class="btn btn-success ban" data-toggle="popover" data-target="#unBanModal">
                    unBan
                </button>
                {% endif %}
                <br />
                <button type="button" class="btn btn-danger ban" data-toggle="modal" data-target="#deleteModal">
                    DELETE ACCOUNT
                </button>
                {% endif %}
                <!-- Ban Modal -->
                <div class="modal" id="banModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="color:black;">Confirm ban {{user.username}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: indianred">No</button>
                                <a href="{{ url_for('main.ban', id=user.id)}}">
                                    <button type="button" class="btn btn-primary" style="background-color: darkgreen;">Yes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- unBan Modal -->
                <div class="modal" id="unBanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="color:black;">Confirm Unban {{user.username}}?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: indianred">No</button>
                                <a href="{{ url_for('main.ban', id=user.id)}}">
                                    <button type="button" class="btn btn-primary" style="background-color: darkgreen;">Yes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DELETE Modal -->
                <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="color:black;">WARNING</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: indianred">No</button>
                                <a href="{{ url_for('main.deleteuser', id=user.id)}}">
                                    <button type="button" class="btn btn-primary" style="background-color: darkgreen;">Yes</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    
        <script>
            $(function(){
                $('[data-toggle="popover"]').popover()
            });
        </script>
    </body>
    </html>