<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <header>Register</header>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                {{form.username.label}}
                {{form.username}}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.email.label}}
                {{form.email}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.password.label}}
                {{form.password}}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.confirmPassword.label}}
                {{form.confirmPassword}}
                {% if form.confirmPassword.errors %}
                    {% for error in form.confirmPassword.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <button>
                {{form.submit}}
            </button>
        </form>
    </body>
</html>