{% extends "layout.html" %}

{% block content %}
<main id="loginmain">
    <!--================================================================================-->
    <!--                                    Register Form                                  -->
    <!--================================================================================-->
    <form method="POST" action="" class="container">
        {{ form.csrf_token }}
        <div class="container" style="position:center; text-align:center;">
            <img src="../../static/img/icons/UNBIASED.png" alt="Login" class="avatar" style="width:300px">
        </div>
        <div class="container">
            <div class="font-weight-bold">{{form.username.label}}</div>
            {{form.username(class="logininput")}}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{errror}}</span>
                {% endfor %}
            {% endif %}
            <br>
            <div class="font-weight-bold">{{form.email.label}}</div>
            {{form.email(class="logininput")}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{errror}}</span>
                {% endfor %}
            {% endif %}
            <br>
            <div class="font-weight-bold">{{form.password.label}}</div>
            {{form.password(class="logininput")}}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{errror}}</span>
                {% endfor %}
            {% endif %}
            <br>
            <div class="font-weight-bold">{{form.confirmPassword.label}}</div>
            {{form.confirmPassword(class="logininput")}}
            {% if form.confirmPassword.errors %}
                {% for error in form.confirmPassword.errors %}
                    <span style="color: red;">{{errror}}</span>
                {% endfor %}
            {% endif %}
            <br>
            {{form.submit(class="loginbtn")}}
            <!-- <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
        </div>
    </form>
</main>
{% endblock content %}















<!-- <!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <header>Register</header>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset>
                {{form.username.label}}
                {{form.username}}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.email.label}}
                {{form.email}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.password.label}}
                {{form.password}}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}

                {{form.confirmPassword.label}}
                {{form.confirmPassword}}
                {% if form.confirmPassword.errors %}
                    {% for error in form.confirmPassword.errors %}
                        <span style="color: red;">{{error}}</span>
                    {% endfor %}
                {% endif %}
            </fieldset>
            <button>
                {{form.submit}}
            </button>
        </form>
    </body>
</html> -->