{% extends "layout.html" %}

<!-- <head>
    <meta charset="utf-8" />
    <meta name="author" content="Zechariah Wong" />
    <meta name="description" content="P2 project" />
</head> -->

{% block content %}

<h1 style="margin-bottom:2em;">
    What aspect of this product would you like to know about?
</h1>



<div class="card">
    <div class="card-body">
        <h4 class="card-title" style="color: cornflowerblue;">Generated review:</h4>
          <p class="card-text">
                <p style="color: black;">{{text1}}</p>
          </p>
        </div>
</div>


<br>
<br>
<form method="POST" action="">
    {{ form.csrf_token }}
    <fieldset>
        {{form.content.label}}
        {{form.content}}
        {% if form.content.errors %}
            {% for error in form.content.errors %}
                <span style="color: red;">{{error}}</span>
            {% endfor %}
        {% endif %}
    </fieldset>
    <button>
        {{form.submit}}
    </button>
</form>






{% endblock content%}