main {
    display: inline-block;
}

.comp {
    text-align: center;
}

    .comp button {
        font-size: large;
        font-weight: bolder;
    }

.gameName {
    margin: 3% 0 0 0;
    display: inline-block;
}

.info {
    width: 55%;
    float: left;
    overflow: hidden;
    display: inline-block;
}

.default {
    display: block;
    padding: 0 0 0 1%;
}
